<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script type="text/javascript" src="js/lib/fit-iphone.js"></script>
    {% block link %}
    {% endblock %}
</head>
<body>

{% block listBody %}
{% endblock %}

<!--尾部-->
<!--<footer>
    <a href="http://bby.pupuwang.com/detail/?id=1903"><img src="imgs/bbylogo_99.png" alt=""></a>
</footer>-->
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
{% block script %}
{% endblock %}

<!--<script type="text/javascript" src="js/banner.js"></script>-->

