<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- <meta content="width=320, initial-scale=0.5, maximum-scale=1, user-scalable=no" name="viewport">-->
    <meta name="viewport" content="width=640,initial-scale=0.5,maximum-scale=0.5, minimum-scale=0.5,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="{{ url_for('indexlist.static',filename='css/baibeiying.css') }}">
    <link rel="stylesheet" href="{{ url_for('indexlist.static',filename='css/swiper-3.3.1.min.css') }}">
    <!--<script type="text/javascript" src="{{ url_for('indexlist.static',filename='js/fit-iphone.js') }}"></script>-->

</head>
<body>
<header>
        <a href=""> <img src="{{ url_for('indexlist.static',filename='imgs/baibeiying_03.png') }}" alt=""></a>#}
        <p>百倍赢</p>
    </header>